.about-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 1300px;
  margin: 2rem auto;
}

.about__content{
  padding: 2rem 1.5rem;
  max-width: 500px;
  flex-shrink:0;
  min-width:25rem;
  margin:0 auto;
}
.about__content p{
  font-size: 1.1rem;
  color: #222;
}
.about__image-box{
  /* width: 25rem; */
  max-width:800px;
  
}
@media all and (min-width:800px){
.about-container{
  flex-direction: row;
  
}
}
