.footer{
  background: #333;
  color: #fff;
  padding: 3rem 2rem;
}
.footer-inner-container{
    display: flex;
  justify-content: space-around;
  align-items: center;
max-width: 900px;
margin: 0 auto;
}
.footer a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.quick-links-list,.social-links-list{
  list-style-type: none;
  text-align: left;
}
.quick-link-item{
    border-bottom: 2px solid #034560;
    margin: 1rem 0;
padding: 0.5rem;
}
.quick-link-item:focus{
  outline: 1px dotted 
}
.quick-link-item:hover{
  
}
