.footer{
  background: #333;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
}
.footer-inner-container{
    display: flex;
  justify-content: space-around;
  /* align-items: center; */
max-width: 900px;
margin: 0 auto;
}
.footer--title{
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.quick-links-list,.social-links-list{
  list-style-type: none;
  text-align: left;
}
.quick-link-item,.social-link-item{
    border-bottom: 2px solid #08e25c;
    margin: 1rem 0;
padding: 0.25rem;
cursor: pointer;
text-transform: capitalize;
}
.quick-link-item:hover,.social-link-item:hover{
  color: #08E25C;
}
.quick-link-item:focus{
  outline: 1px dotted #08E25C
}
.credits{
  margin: 1rem auto;
}
.credits a{
  color: #08E25C;
  font-weight: 600;
}
