*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;

}
*::-webkit-scrollbar{
  width: 0px;
}
html{
  font-size: 16px;
  --primary-color: #039456;
  --secondary-color:#920B56;
}
.main-wrapper{
  max-width: 1700px;
  margin:0 auto;
}
.section{
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  
}
.section--title{
  display: inline-block;
  position: relative;
  background: var(--secondary-color);
  color: #fff;
  padding:1em 1.5em;
  text-transform: capitalize;
  margin-bottom: 1rem;
  box-shadow: 0 10px 20px #0003, -10px 0 20px #0003;
  border-radius: 0.5rem 0.5rem ;
  overflow: hidden;
}

.section--title:after{
  content: "";
  position: absolute;
  bottom:0;
  right: 0;
  height: 0.875rem;
  width: 100%;
  background:linear-gradient(-45deg,transparent 33.3%,#fff 33.3%,#fff 66.6%,transparent 66.6%),linear-gradient(45deg,transparent 33.3%,#fff 33.3%,#fff 66.6%,transparent 66.6%);
  background-size: 15px 30px;
  
  
  
}
  /* media queries */
@media all and (max-width:400px) {
  html {
    font-size: 11px
  }
}
@media all and (min-width:400px) and (max-width:460px) {
  html {
    font-size: 12px
  }
}
@media all and (min-width:460px) and (max-width:500px) {
  html {
    font-size: 13px
  }
}