@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --mainColor: #920B56;
    --secondColor: #fff;
}

.hero {
    background-image: url(../images/backgroundimg.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
    margin-bottom: 3em;
}

.navbar{
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(255,255,255,0.2);
    overflow: hidden;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(37, 37, 37);
    margin-left: 1.5em;
    padding: 0.6em 1.2em;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 1.5em;
    background: transparent;
    white-space: nowrap;
    outline: none;
}

.nav-item:hover {
    color: var(--mainColor);
}


.hero-title {
    margin: 3em 3em 0; 
}

.hero-title h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
    padding-top: 1em;
    position: relative;
}

.hero-title h2:after {
    content:'';
    position: absolute;
    width: 15%;
    height: 18px;
    top: 40px;
    left: 3%;
    background-color: var(--mainColor);
    border-radius: 12px;
}

.hero-title .title-para {
    width: 60%;
    font-size: 1.3em;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-style: italic;
    padding-top: 3em;
    line-height: 30px;
    letter-spacing: 3px;
}